html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.trans{
  opacity:0.4;
}
.visible{
  opacity:1;
}
.hidden{
  display: none !important;
}
#map{
  z-index: 10;
}
#map-hover{
  z-index: 20;
  background: white;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  text-align: center;
  display: flex;
}
#map-hover img{
  margin: auto;
}
#map, #map-hover {
  height: 100%;
  width: 100%;
}
img.resize{
  height: 80%;
}